html{
	background-color: rgb(25, 14, 29);
}

.wrapper{
	min-width: 100%;
	overflow: hidden;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	background-color: #fff;
}

@media (min-width: 1200px){
	
}